@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,700|Open+Sans:300,700&display=swap');

body {
  font-family: 'Open Sans', 'Noto Sans TC', sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.required::after {
  content: '*';
  color: red;
  margin-left: 0.5em;
}

p {
  word-break: break-all;
  white-space: normal;
}
